<% if user_signed_in? %>
  <% if report.favorited_by?(current_user) %>
    <%= link_to fa_icon("heart"), report_favorites_path(report.id), method: :delete, class: 'heart' %>
    <%= report.favorites.count %>
  <% else %>
    <%= link_to fa_icon("heart"), report_favorites_path(report.id), method: :post, class: 'heart' %>
    <%= report.favorites.count %>
  <% end %>
<% else %>
  <span class="heart"><%= fa_icon("heart") %></span><%= report.favorites.count %>
<% end %>