<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
  <% if comment.user.image? %>
    <%= image_tag comment.user.image.thumb30.url, class: "user_image" %>
  <% else %>
    <%= image_tag 'noimage.png', :size => '30x30', class: "user_image" %>
  <% end %>
    <%= link_to "#{comment.user.username}さん", user_path(comment.user.id) %>
    : <%= comment.content %>
    <% if comment.user == current_user %>
      <span><%= link_to '削除', report_comment_path(comment.report_id, comment.id), method: :delete, remote: true %></span>
    <% end %>
  <% end %>
<% end %>