<section class="report_index">
  <h1>投稿一覧</h1>
    <div><%= link_to "新規投稿", new_report_path, class: "btn" %></div>
      <% @reports.each do |report| %>
        <section class="report">
          <% if report.user.image? %>
            <%= image_tag report.user.image.thumb50.url.to_s, class: 'user_image' %>
          <% else %>
            <%= image_tag 'noimage.png', :size => '50x50', class: 'user_image' %>
          <% end %>
          <%= link_to report.user.username, user_path(report.user_id) %>
          <p class="report_title">タイトル: <%= link_to report.title, report_path(report.id) %></p>
          <%= image_tag report.image.url.to_s, class: 'image' %>
          <span class="report_date"><%= report.created_at %></span>
          <p><%= "#{report.user.username}: #{report.content}" %></p>
          <p><%= link_to "コメントする", report_path(report.id) %></p>
        </section>
      <% end %>
    <div class="pagination"><%= paginate @reports %></div>
</section>
<div id="back-to-top" class="back-to-top">
  <a class="btn btn-primary btn-lg m-2" role="button" >
    <%= fa_icon("chevron-up") %>
  </a>
</div>