<h1>投稿一覧</h1>
<div class="report_all">
  <% @reports.each do |report| %>
    <% if report.user.image? %>
      <%= image_tag report.user.image.thumb100.url%>
    <% else %>
      <%= image_tag 'noimage.png', :size => '100x100' %>
    <% end %>
    <p><%= link_to report.user.username, user_path(report.user_id) %></p>
    <p><%= link_to report.title, report_path(report.id) %></p>
    <span><%= image_tag report.image_url %></span>
    <p><%= report.content %></p>
    <p><%= report.created_at %></p>
    <%= render 'favorites/fav_button', report: @report %>
  <% end %>
</div>