<h1>新規投稿</h1>
<%= form_with model: @report, local: true do | f | %>
  <div class="report_error">
  <% if @report.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% @report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  </div>
  <div class="report_new">
    <div class="new">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: "タイトルを記述" %>
      </div>
      <div class="form-group">
        <p><%= f.file_field :image, class: 'btn btn-primary'%></p>
        <p><%= f.submit 'アップロードする', class: 'btn btn-primary' %></p>
      </div>
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control', placeholder: "内容を記述" %>
      </div>
      <%= f.submit '投稿', class: 'btn btn-primary' %> 
    </div>
  </div>
<% end %>