<div class="report_show">
  <h1>投稿詳細</h1>
  <section><%= link_to "一覧画面", reports_url, class: "btn index_btn" %></section>
  <div class="report_description">
    <% if @report.user.image? %>
      <%= image_tag @report.user.image.thumb50.url.to_s, class: 'user_image' %>
    <% else %>
      <%= image_tag 'noimage.png', :size => '50x50', class: 'user_image' %>
    <% end %>
    <%= @report.user.username %>
    <% if user_signed_in? && @report.user_id == current_user.id %>
      <span><%= link_to '投稿を削除', @report, method: :delete, data:{ confirm: "削除してもよろしいですか？"}, class: 'btn delete_btn' %></span>
    <% end %>
    <p class="report_title">タイトル: <%= @report.title %></p>
    <%= image_tag @report.image_url, class: "image" %>
    <%= @report.created_at %>
    <p><%= render 'favorites/fav_button', report: @report %></p>
    <p><%= "#{@report.user.username}: #{@report.content}" %></p>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>
    <% if user_signed_in? %>
      <%= render partial: 'comments/form', locals: { comment: @comment, report: @report } %>
    <% else %>
      <section><%= link_to "コメントしてみませんか？", new_user_registration_path, class: 'btn' %></section>
    <% end %>
  </div>
</div>