<h1>詳細ページ</h1>
<div class="report_all">
  <p><%= @report.title %></p>
  <span><%= image_tag @report.image_url %></span>
  <p><%= @report.content %></p>
  <p><%= @report.created_at %></p>
  <p><%= link_to "一覧画面", reports_url %></p>
  <p><%= render 'favorites/fav_button', report: @report %></p>
</div>

